<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  

  <!-- jquery -->
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

  <!-- Code Mirror -->
  <script src="/js/codemirror.js"></script>
  <link rel="stylesheet" href="/css/codemirror.css">

  <script src="/js/javascript.js"></script>
  <script src="/js/python.js"></script>

  <link rel="stylesheet" href="/css/darcula.css">

  <link rel="stylesheet" href="/css/show-hint.css">
  <script src="/js/javascript-hint.js"></script>
  <script src="/js/show-hint.js"></script>

  <!-- 폰트어썸 및 폰트 -->
  <script src="https://kit.fontawesome.com/3c792eb2a9.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap"
    rel="stylesheet" />

    <!-- css -->
  <link rel="stylesheet" href="/CodeArena/css/chatlist.css" />
  <link rel="stylesheet" href="/CodeArena/css/pop_chat.css" />
  <link rel="stylesheet" href="/CodeArena/css/code_arena.css">
</head>

<body>



  <section id="notice" class="notice">
    <div class="page-title">
      <div class="container">
        <h3>CodeArena 채팅방 목록</h3>
      </div>
    </div>

    <!-- board seach area -->
    <div id="board-search">
      <div class="container">
        <div class="search-window">
          <form action="">
            <div class="search-wrap">
              <span>
                채팅방식 :
                <select name="chat_method" id="chat_method">
                  <option value="all">전체보기</option>
                  <option value="one">1:1채팅</option>
                  <option value="many">오픈채팅</option>
                </select>
                개발 언어 :
                <input type="checkbox" value="HTML" class="l_check" />HTML/CSS
                <input type="checkbox" value="JavaScript" class="l_check" />JavaScript
                <input type="checkbox" value="Python" class="l_check" />Python
                <button class="select">조회</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
      <div class="container">
        <table class="board-table">
          <thead>
            <tr>
              <th scope="col" class="th-num">번호</th>
              <th scope="col" class="th-c_method">채팅방식</th>
              <th scope="col" class="th-lang">개발언어</th>
              <th scope="col" class="th-title">제목</th>
              <th scope="col" class="th-user">작성자</th>
              <th scope="col" class="th-date">등록일</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <div class="pagination">
          <span class="pagination__number-indicator"></span>
          <button class="pagination__arrow">
            <span class="pagination__arrow-half"></span>
            <span class="pagination__arrow-half"></span>
          </button>
          <button class="pagination__number pagination__number--active">
            1
          </button>
          <button class="pagination__number">2</button>
          <button class="pagination__number">3</button>
          <button class="pagination__number">4</button>
          <button class="pagination__number">5</button>
          <button class="pagination__number">6</button>
          <button class="pagination__number">7</button>
          <button class="pagination__arrow pagination__arrow--right">
            <span class="pagination__arrow-half"></span>
            <span class="pagination__arrow-half"></span>
          </button>
          <button class="write" onclick="openModal()">방생성</button>
        </div>
      </div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 class="make-h2">방 생성</h2>
        <form id="make_room_form">
          <div class="m_div">
            <label for="room-name">방 이름:</label>
            <input type="text" id="room_name" name="room_name" required />
          </div>
          <div class="m_div">
            <label for="chat-method">채팅방식</label>
            <select name="chatRoomMethod" id="chatRoomMethod">
              <option value="one_to_one">1:1채팅</option>
              <option value="one_to_many">오픈채팅</option>
            </select>
          </div>
          <div class="m_div">
            <label for="dev-lang">개발언어</label>
            <select name="dev_lang" id="dev_lang">
              <option value="html/css">HTML/CSS</option>
              <option value="javascript">JavaScript</option>
              <option value="python">Python</option>
            </select>
          </div>
          <button type="submit" class="make-btn">만들기</button>
        </form>
      </div>
    </div>
  </section>

  <!-- code arena 부분 -->
  <div id="code_arena_zip" class="code_arena_zip">
    <div class="code_arena">
      <!-- 나가기 -->
      <div class="c_a_above2">
        <div class="arrow">
          <button id="leave_room"><i class="fa-solid fa-arrow-left fa-2x" style="color: #ffffff;"></i></button>
        </div>
      </div>
      <div class="c_a_center">
        <!-- 문제 제시  -->
        <div class="c_a_left">
          <div class="c_a_l_title">1. 별 개수를 늘리기</div>
          <div class="c_a_l_que">
            <pre>오늘은 스타트링크에 다니는 사람들이 모여서 축구를 해보려고 한다. 축구는 평일 오후에 하고 의무 참석도 아니다. 축구를 하기 위해 모인 사람은 총 N명이고 신기하게도 N은 짝수이다. 이제 N/2명으로 이루어진 스타트 팀과 링크 팀으로 사람들을 나눠야 한다.

                      BOJ를 운영하는 회사 답게 사람에게 번호를 1부터 N까지로 배정했고, 아래와 같은 능력치를 조사했다. 능력치 Sij는 i번 사람과 j번 사람이 같은 팀에 속했을 때, 팀에 더해지는 능력치이다. 팀의 능력치는 팀에 속한 모든 쌍의 능력치 Sij의 합이다. Sij는 Sji와 다를 수도 있으며, i번 사람과 j번 사람이 같은 팀에 속했을 때, 팀에 더해지는 능력치는 Sij와 Sji이다.
                      
                      N=4이고, S가 아래와 같은 경우를 살펴보자.
                      
                      i\j	1	2	3	4
                      1	 	1	2	3
                      2	4	 	5	6
                      3	7	1	 	2
                      4	3	4	5	 
                      예를 들어, 1, 2번이 스타트 팀, 3, 4번이 링크 팀에 속한 경우에 두 팀의 능력치는 아래와 같다.
                      
                      스타트 팀: S12 + S21 = 1 + 4 = 5
                      링크 팀: S34 + S43 = 2 + 5 = 7
                      1, 3번이 스타트 팀, 2, 4번이 링크 팀에 속하면, 두 팀의 능력치는 아래와 같다.
                      
                      스타트 팀: S13 + S31 = 2 + 7 = 9
                      링크 팀: S24 + S42 = 6 + 4 = 10
                      축구를 재미있게 하기 위해서 스타트 팀의 능력치와 링크 팀의 능력치의 차이를 최소로 하려고 한다. 위의 예제와 같은 경우에는 1, 4번이 스타트 팀, 2, 3번 팀이 링크 팀에 속하면 스타트 팀의 능력치는 6, 링크 팀의 능력치는 6이 되어서 차이가 0이 되고 이 값이 최소이다.</pre>
          </div>
          <div class="c_a_l_ans">답 이미지</div>
        </div>

        <!-- 문제 코드 작성 -->
        <div class="c_a_right">
          <form class="c_a_right_form" action="http://localhost:3000/" id="inputForm">
            <div class="c_a_right_1">
              <div class="c_a_right_1_1">
                <div class="c_a_r_Codelang1">
                  <div class="c_a_r_Codelang_n1"><i class="fa-brands fa-js" style="color: #eac406;"></i>&emsp;JavaScript
                  </div>
                </div>
                <div class="c_a_r_Codewrite1">
                  <div class="c_a_r_Codewrite1_ed1">
                    <textarea name="js" id="js" cols="133" rows="30"></textarea>
                  </div>
                </div>
              </div>
              <div class="c_a_right_1_2" style="display: none;">
                <div class="c_a_r_Codelang2">
                  <div class="c_a_r_Codelang_n2"><i class="fa-brands fa-python" style="color: #ffffff;"></i>&emsp;Python
                  </div>
                </div>
                <div class="c_a_r_Codewrite2">
                  <div class="c_a_r_Codewrite2_edi2">
                    <textarea name="python" id="python" cols="90" rows="26"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- 출력결과 -->
            <div class="c_a_right_2">
              <!-- 전송버튼 -->
              <div class="output_txt">
                <div class="txt_main">실행결과</div>
                <div class="text-center sendBtn">
                  <button id="submit" class="btn btn-dark"><i class="fa-solid fa-code fa-2x"
                      style="color: #ffffff;"></i></button>
                </div>
              </div>
              <div class="outputDiv">
                <!-- Output -->
                <iframe id="live"></iframe>
              </div>

            </div>
        </div>
        </form>
      </div>

      <!-- 참가자 현상황 -->
      <div class="c_a_under">
        <div class="c_a_under2">
          <div class="c_a_time">
            <div id="c_a_above1" class="c_a_above1">
              <i class="fa-solid fa-stopwatch" style="color: #ffffff;"></i>&nbsp;
              <input type="text" id="timer" class="timer" readonly>
            </div>
          </div>
          <div class="c_a_p_user">
            <div class="c_a_p_u1">
              <div class="u_info">
                <div class="u_i_img">1등</div>
                <div class="u_i_nick">vudghk675</div>
              </div>
              <div class="u_remain">
                <div class="u_r_ques">
                  <div class="u_r_circle">ok</div>
                </div>
              </div>
            </div>
            <div class="c_a_p_u2">
              <div class="u_info">
                <div class="u_i_img">1등</div>
                <div class="u_i_nick">vudghk675</div>
              </div>
              <div class="u_remain">
                <div class="u_r_ques">
                  <div class="u_r_circle">ok</div>
                </div>
              </div>
            </div>
            <div class="c_a_p_u3">
              <div class="u_info">
                <div class="u_i_img">1등</div>
                <div class="u_i_nick">vudghk675</div>
              </div>
              <div class="u_remain">
                <div class="u_r_ques">
                  <div class="u_r_circle">ok</div>
                </div>
              </div>
            </div>
            <div class="c_a_p_u4">
              <div class="u_info">
                <div class="u_i_img">1등</div>
                <div class="u_i_nick">vudghk675</div>
              </div>
              <div class="u_remain">
                <div class="u_r_ques">
                  <div class="u_r_circle">ok</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- code arena 부분 끝 -->

  <!-- 채팅방 시작 -->
  <!-- chat 버튼 -->
  <div id="chat_open" class="chat_open">
    <button class="chat_open_btn">
      <i class="fa-solid fa-comment fa-2x" style="color: #24283B"></i>
    </button>
  </div>

  <!-- chat 메인 -->
  <div id="chat" class="chat">
    <div class="chat_1">
      <div class="chat_main">
        <!-- 채팅방 이름 -->
        <div class="c_roomname">
          <div class="c_roomname_1">
            <div class="c_content_name">
              <div class="c_c_name"></div>
              <div class="c_content_num">(인원)</div>
            </div>
            <div id="c_content_mini" class="c_content_mini">
              <button class="c_content_mini_btn">
                <i class="fa-solid fa-caret-down fa-lg" style="color: #ffffff"></i>
              </button>
            </div>
            <div class="c_content_close">
              <button class="c_content_close_btn">
                <i class="fa-solid fa-xmark fa-lg" style="color: #ffffff"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- 채팅내용 -->
        <div class="c_main_content">
          <div class="chat1">
            <ul>
              <!-- 동적 생성 -->
            </ul>
          </div>
        </div>

        <div class="chat1 format">
          <ul>
            <li>
              <div class="sender">
                <span></span>
              </div>
              <div class="message">
                <span></span>
              </div>
            </li>
          </ul>
        </div>

        <!-- 채팅작성 및 전송 -->
        <div class="c_chatting">
          <form name="c_chatting_form" class="c_chatting_form" action="">
            <div class="c_chatting_1">
              <textarea id="form_input" class="form_input" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="c_chatting_2">
              <div class="c_chatting_22">
                <button onclick="send()" class="c_chatting_2_btn">
                  <i class="fa-solid fa-envelope-circle-check fa-2x"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="chat_mini" id="chat_mini">
    <div class="chat_mini_1">
      <div class="chat_mini_1_1">
        <div class="chat_mini_1_11">
          <p id="mini_room_name"></p>
        </div>
        <div class="chat_mini_1_21">
          <p id="$mini_room_users">4/6</p>
        </div>
      </div>
      <div class="chat_mini_1_2">
        <button class="chat_mini_1_2btn">
          <i class="fa-solid fa-caret-up fa-lg" style="color: #ffffff"></i>
        </button>
      </div>
    </div>
  </div>


  <!-- js 파일 경로 -->

  <script src="/socket.io/socket.io.js"></script>
  <!-- 비동기 통신 axios -->
<script type="text/javascript" src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
  <script src="/CodeChat/js/codeEditor.js"></script>
  <script src="/CodeArena/js/codeArenaList.js"></script>
  <script src="/CodeArena/js/popArenaChatRoom.js"></script>
  
 
  <script>
    const textjs = document.querySelector('#js')
    const textpy = document.querySelector('#python')
    const outPut = document.querySelector('#live')

    let js = CodeMirror.fromTextArea(textjs, {
      mode: "text/javascript",
      theme: "darcula",
      lineNumbers: true,
      spellcheck: true,
      extraKeys: { "Ctrl-Space": "autocomplete" }
    })

    let python = CodeMirror.fromTextArea(textpy, {
      mode: {
        name: "python",
        version: 3,
        singleLineStringErrors: false
      },
      lineNumbers: true,
      theme: "darcula",
      indentUnit: 4,
      matchBrackets: true,
      spellcheck: true
    });

    // 입력한 코드 출력
    function executeJavaScript() {
      const scriptElement = document.createElement("script");
      scriptElement.innerHTML = js.getValue();
      outPut.contentWindow.document.body.appendChild(scriptElement);
    }

    function executePython() {
      // Python 코드 실행을 위한 코드를 추가하세요.
      const pythonScript = document.createElement("script");
      pythonScript.innerHTML = python.getValue();
      outPut.contentWindow.document.body.appendChild(pythonScript);
    }

    CodeMirror.on(js, 'change', executeJavaScript);
    CodeMirror.on(python, 'change', executePython);

  </script>
  <script src="/CodeArena/js/popArenaChatRoom.js"></script>

  <script>
    // 1. 팝업창 열기
    $(document).on("click", ".chat_open", (e) => {
      console.log("팝업창 열기");
      $("#chat").css("display", "block");
    });

    // 1. 팝업창 닫기
    $(document).on("click", ".c_content_close button", (e) => {
      console.log("팝업창 닫기");
      $("#chat").css("display", "none");
    });

    // 2. chat 축소판 다시 열기
    $(document).on("click", ".c_content_mini_btn", (e) => {
      console.log("팝업창 키우기");
      $("#chat_mini").css("display", "flex");
      $("#chat").css("display", "none");
    });

    // 2. chat 축소판 닫기
    $(document).on("click", ".chat_mini_1_2btn", (e) => {
      console.log("팝업창 줄이기");
      $("#chat_mini").css("display", "none");
      $("#chat").css("display", "block");
    });
  </script>

  <script>
    // 타이머 기능 구현 추가
    const Timer = document.getElementById('timer'); //스코어 기록창-분
    const Timer_zip = document.getElementById('c_a_above1'); //스코어 기록창-분

    let time = 600000;
    let min = 10;
    let sec = 60;

    Timer.value = min + ":" + '00';

    function TIMER() {
      PlAYTIME = setInterval(function () {
        time = time - 1000; //1초씩 줄어듦
        min = time / (60 * 1000); //초를 분으로 나눠준다.

        if (sec > 0) { //sec=60 에서 1씩 빼서 출력해준다.
          sec = sec - 1;
          // sec이 10보다 작을 때 '0'을 붙여서 2자리 형식으로 만들어줍니다.
          Timer.value = Math.floor(min) + ':' + (sec < 10 ? '0' : '') + sec;

          // sec이 10보다 작고 0보다 크거나 같을 때, 즉 10초가 남았을 때 CSS 변경
          if(min == 0){
            if (sec <= 10 && sec > 0) {
              // 여기에 원하는 CSS 변경 코드를 추가합니다.
              Timer_zip.style.boxShadow = '1px 0px 12px 8px red'; // 예시로 글자 색상을 빨간색으로 변경
              Timer_zip.style.animation = 'blink 1s infinite';
            } else {
              // 원하는 CSS 초기 상태를 설정합니다.
              Timer_zip.style.boxShadow = '1px 0px 12px 8px white'; // 예시로 글자 색상을 기본으로 변경
              Timer_zip.style.animation = 'none';
            }
          }
        }
        if (sec === 0) {
          // 0에서 -1을 하면 -59가 출력된다.
          // 그래서 0이 되면 바로 sec을 60으로 돌려주고 value에는 0을 출력하도록 해준다.
          sec = 60;
          Timer.value = Math.floor(min) + ':' + '00'
        }

      }, 1000); //1초마다 
    }

    TIMER();
    setTimeout(function () {
      clearInterval(PlAYTIME);
    }, 600000); //600000
  </script>



</body>

</html>