/*flex-direction : column*/

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.fa{
    font-weight: 900 !important;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

/* header */

/* code arena 페이지 시작 */
.code_arena_zip {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Pretendard-Regular';
    background-color: rgba(0,0,0,0.9);

}
.code_arena{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

/* 나가기 버튼 */
.c_a_above2 {
    width: 3%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.arrow{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.arrow button{
    border: 0;
    background-color: transparent;
}

/* 문제 및 코드 작성 시작 */
.c_a_center{
    width: 77%;
    height: 93%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    border-radius: 1.375rem;
    background-color: rgba(255,255,192,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);

}
.c_a_center_button{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_a_center_button2{
    height: 44%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252424;
    border-radius: 4rem;
    font-size: 2.5vw;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 2px 3px 15px 8px white;
    transition : box-shaodw 0.3s;
}
.clicked {
    animation : changeColor 0.5s;
}

@keyframes changeColor {
    0% {
        box-shadow: 2px 3px 15px 8px rgba(255, 0, 0, 1);
      }
    12.5%{
        box-shadow: 2px 3px 15px 8px rgba(255, 31, 31, 1);
    }  
    25%{
        box-shadow: 2px 3px 15px 8px rgba(255, 63, 63, 1);
    }
    37.5%{
        box-shadow: 2px 3px 15px 8px rgba(255, 94, 94, 1);
    }  
    50% {
        box-shadow: 2px 3px 15px 8px rgba(255, 127, 127, 1);
      }
      62.5%{
        box-shadow: 2px 3px 15px 8px rgba(255, 158, 158, 1);
      }
    75%{
        box-shadow: 2px 3px 15px 8px rgba(255, 190, 190, 1);
    }
    87.5%{
        box-shadow: 2px 3px 15px 8px rgba(255, 224, 224, 1);
    }  
    100% {
        box-shadow: 2px 3px 15px 8px rgba(255, 255, 255, 1);
      }
}

/* 문제 제시 */
.c_a_left{
    width: 45%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-radius: 0.5rem;
}
.c_a_l_title{
    width: 95%;
    height: 7%;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}
.c_a_l_que{
    width: 95%;
    height: 67%;
    display: flex;
    color: white;
    font-size: 1vw;
}
/* pre{
    width: ;
} */
.c_a_l_que pre{
    white-space: break-spaces;
    overflow: auto;
    padding: 2%;
}
.c_a_l_que pre::-webkit-scrollbar {
    width: 11px;
}
.c_a_l_que pre::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.c_a_l_ans{
    width: 95%;
    height: 25%;
    display: flex;
    text-align: center;
    color: white;
    border: 1px solid black;
}
.c_a_right{
    width: 45%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.5rem;
}
.c_a_right_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 문제 코드 작성 */
.c_a_right_1{
    width: 95%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.c_a_right_1_1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}
.c_a_r_Codelang1{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.c_a_r_Codelang_n1{
    width: 98%;
    height: 15%;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1vw;
    color: white;
}
.c_a_r_Codewrite1{
    width: 100%;
    height: 100%;
}
.c_a_r_Codewrite1_edi1{
    width: 100%;
    height: 100%;
}
.c_a_right_1_2{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;

}
.c_a_r_Codelang2{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c_a_r_Codelang_n2{
    width: 98%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 1vw;
    color: white;
}
.c_a_r_Codewrite2{
    width: 100%;
    height: 100%;
}
.c_a_r_Codewrite2_edi2{
    width: 100%;
    height: 100%;
}

/* 코드에디터 */
.content-container__content {
    display: none;
}
.content-container__content.target {
    display: block;
}
.c_a_right_2{
    width: 95%;
    height: 41%;
    display: flex;
    flex-direction: column;
}
.output_txt{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.txt_main{
    width: 20%;
    color: white;
}
.sendBtn{
    width: 35%;
    float: right;
    display: flex;
    justify-content: space-around;
    height: 50%;
}
.sil_btns1{
    width: 45%;
    background-color: #000;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
}
.sil_btns1:hover{
    background-color: #fff;
    border: 1px solid white;
}
.btn-dark{
    background-color: transparent;
    border: transparent;
    color: white;
    padding: 0;
}
.btn-dark:hover{
    border: transparent;
    color: #000;
    padding: 0;
}
.sil_btns2{
    width: 45%;
    background-color: #000;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
}
.sil_btns2:hover{
    background-color: #fff;
    border: 1px solid white;
}
.c_a_result{
    color: white;
    background-color: transparent;
    border: transparent;
}
.c_a_result:hover{
    border: transparent;
    color: #000;
    padding: 0;
}
#live {
    width:100%;
    height:100%;
    /* border:0; */
    outline:0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.outputDiv{
    height: 78%;
    width: 100%;
}

.cm-s-darcula{
    height:42dvh;
}

/* 참가자 현상황 */
.c_a_under{
    width: 18%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c_a_under2{
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.c_a_u_r_name{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vw;
}
.c_a_time{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_a_above1{
    width: 84.5%;
    height: 84%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    border-radius: 1.375rem;
    background-color: rgba(255,255,192,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 1px 0px 12px 8px white;
    font-size: 2.5vw;
    color: white;
}
.timer{
    width: 40%;
    font-size: 2.5vw;
    color: white;
    background-color: transparent;
    border: transparent;
}

.c_a_p_user{
    width: 88%;
    height: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 1.375rem;
    background-color: rgba(255,255,192,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
}
.c_a_p_u1, .c_a_p_u2, .c_a_p_u3, .c_a_p_u4{
    width: 90%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.u_info{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
}
.u_i_img{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    color: white;
}
.u_i_nick{
    width: 65%;
    height: 100%;
    color: white;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.u_remain{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    flex-direction: column;
    color: white;
    font-size: 0.8vw;
}
.u_r_ques{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}
.u_r_circle{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: green;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 200%;
    
}
#my_M{
    width:100%;
}

#my_message{
display: inline-block;
  width: 50%; /* 적절한 너비 설정 */
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  float: right;
  background-color: #00aaff;
  color: #fff;
  clear: both;
}

#other_message{
    display: inline-block;
  width: 50%; /* 적절한 너비 설정 */
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  float: left;
  background-color: #ffaa00;
  color: #fff;
  clear: both;
}


/* 모달 스타일링 */
.modal5 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
  }
  
  .modal-content5 {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close5 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close5:hover,
  .close5:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }