body {
  padding: 0;
  margin: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
/* header */
.m_header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  /* border-bottom: 1px solid; */
  height: 80px;
}

/* 로고 텍스트 스타일 */
.m_logo {
  cursor: pointer;
  margin-left: 25%;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  margin-top: 1.5%;
  color: white;
  
}

/* 세 개의 버튼 스타일 */
.m_btn_c,
.m_btn_a,
.m_btn_m,
.m_btn {
  background: none;
  font-size: 1.2rem;
  border: none;
  width: 15%;
  color: white;
  margin-top: 10px;

}

.m_btn_c {
  margin-left: 5%;
}
.m_btn {
  margin-left: 1%;
}

.m_btn_c,
.m_btn_a,
.m_btn:hover {
  cursor: pointer;
}

.m_title_btn {
  display: flex;
}

.logout{
  color: white;
  cursor: pointer;
  margin-top: 2%;

}

.logout:hover{
  text-decoration: underline;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

section.notice {
  padding: 6% 0;
}

.page-title {
  margin-bottom: 60px;
}

.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

#board-search .search-window {
  padding: 20px 0;
  background-color: #f9f7f9;
}

#board-search .search-window .search-wrap {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  /* max-width: 564px; */
  height: 30px;
}

/* #board-search .search-window .search-wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
  } */
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}

#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}

.board-table a:hover {
  text-decoration: underline;
}

.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover,
.btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover,
.btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#chat_method {
  margin-right: 12%;
}

.l_check {
  margin-right: 0.5%;
}

/* 조회 버튼 */
.select {
  margin-left: 15%;
  border: 1px solid;
  background-color: white;
  width: 8%;
  height: 20%;
}

.select:active {
  box-shadow: inset -.3rem -.1rem 1.4rem #FBFBFB, inset .3rem .4rem .8rem #BEC5D0;
  cursor: pointer;
}

/* 페이징 */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgba(31, 41, 55, 0.14);
  background-color: #fff;
  position: relative;
}

.pagination__number-indicator {
  position: absolute;
  height: 2px;
  background-color: #4338ca;
  opacity: 0;
  bottom: 38px;
  transition: all 0.2s ease;
}

.pagination__number {
  font-weight: 600;
  font-size: 16px;
  color: #d1d5db;
}

.pagination__number--active {
  color: #111827;
  position: relative;
}

.pagination__number,
.pagination__arrow {
  padding: 16px;
}

.pagination__arrow--right {
  transform: scaleX(-1);
}

.pagination__arrow:hover .pagination__arrow-half:first-child {
  transform: translateY(0.5px) rotate(-30deg);
}

.pagination__arrow:hover .pagination__arrow-half:last-child {
  transform: translateY(-0.5px) rotate(30deg);
}

.pagination__arrow:active .pagination__arrow-half:first-child,
.pagination__arrow--disabled .pagination__arrow-half:first-child {
  transform: translateY(0) rotate(0);
}

.pagination__arrow:active .pagination__arrow-half:last-child,
.pagination__arrow--disabled .pagination__arrow-half:last-child {
  transform: translateY(0) rotate(0);
}

.pagination__arrow--disabled .pagination__arrow-half:last-child,
.pagination__arrow--disabled .pagination__arrow-half:first-child {
  opacity: 0.2;
}

.pagination__arrow--disabled {
  pointer-events: none;
}

.pagination__arrow-half {
  width: 9px;
  height: 2px;
  border-radius: 1px;
  background-color: #4338ca;
  display: inline-block;
  position: absolute;
  transform-origin: 0px;
  opacity: 1;
  transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
}

.pagination__arrow-half:first-child {
  transform: translateY(0.5px) rotate(-45deg);
}

.pagination__arrow-half:last-child {
  transform: translateY(-0.5px) rotate(45deg);
}

.write {
  position: absolute;
  bottom: 27%;
  right: 5%;
  border: 1px solid;
  width: 8%;
  font-size: 0.9rem;
  height: 40%;
  background-color: #24283B;
  color: white;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  border: 1px solid #7ac142;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2.3rem;
  font-weight: bold;
  position: relative;
  top: -12px;
  right: -4px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.m_div {
  margin-top: 3%;
}

#room_name {
  height: 30px;
  width: 60%;
}

.make-h2{
  margin-bottom: 20px;
}

.make-btn{
  width: 13%;
  background-color: #24283B;
  /* border: 1px solid #24283B; */
  color: white;
  border-radius: 5px;
  float: right;
  font-size: 1.0rem;
  height: 28px;
}

.l_val{
  border: 1px solid;
  border-radius: 1rem;
  
}